*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
 --color-background: rgb(26, 2, 56);
 --color-balls: rgb(0, 166, 255, .8);
 --color-boxShadow:rgba(101, 46, 240, .8);
 
}

body{
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-background);
   
}
.ball{
    width: 2rem;
    height: 2rem;
    background: var(--color-balls);
    border-radius: 100%;
    border: none;
    position: absolute;
    box-shadow: var(--color-boxShadow) 0px 25px 30px -10px;
}

.ball[data-status="inactive"]{
    display: none;
}

.ball[data-status="active"]{
    display: block;
}

